.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 500;
    justify-content: space-between;
    align-items: center;
}

.navbar .list {
    display: flex;
}

.list li {
    list-style: none;
}

.list li a {
    margin-left: 30px;
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 2px 10px;
}